<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Web Design Mastery | Watch</title>
  </head>
  <body>
    <header class="header__container" id="home">
      <nav>
        <div class="nav__header">
          <div class="nav__logo">
            <a href="#">
              <img
                src="../public/images/assets/logo-dark.png"
                alt="logo-dark"
                class="logo-dark"
              />
            </a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#product">Product</a></li>
          <li><a href="about.html">about us</a></li>
          <li><a href="contact us.html">Contact us</a></li>
        </ul>
      </nav>
      <div class="header__image">
        <img src="../public/images/assets/header.png" alt="header" style="width: 341px; height: 530;">
      </div>
      <div class="header__content">
        <h1>DRD WATCH COLLECTION </h1>
        <p>
          "Timeless elegance, modern precision—discover the perfect <br>
           watch that defines you!"
        </p>
        <h4>₹50,000</h4>
        <div class="header__btns">
          <button class="btn">ADD TO CART</button>
        </div>
      </div>
    </header>

    <!-- banner -->
   
    <section class="section cta">
      <div class="container">

          <ul class="cta-list">
              <li>
                  <div class="cta-card" style="background-image: url('../public/images/assets/cta-1.jpg')">
                      <p class="card-subtitle">titan Watch</p>
                      <h3 class="h2 card-title">The Summer Sale Off 20%</h3>
                      <a href="#product" class="btn">
                          <span>Shop Now</span>
                          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                      </a>
                  </div>
              </li>

              <li>
                  <div class="cta-card" style="background-image: url('../public/images/assets/cta-2.jpg')">
                      <p class="card-subtitle">Rado Watch</p>
                      <h3 class="h2 card-title">Make Yourself Keep Sporty</h3>
                      <a href="#product" class="btn">
                          <span>Shop Now</span>
                          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                      </a>
                  </div>
              </li>
          </ul>

      </div>
  </section>

    <!-- sale -->

    <section class="section__container feature__container">
      <h2 class="section__header">FEATURED</h2>
      <div class="feature__grid">
        <div class="feature__card">
          <span>SALE</span>
          <img src="../public/images/assets/feature-1.png" alt="feature" />
          <h4>ADERTICA</h4>
          <p>₹25,000</p>
          <button class="btn">ADD TO CART</button>
        </div>
        <div class="feature__card">
          <span>SALE</span>
          <img src="../public/images/assets/feature-2.png" alt="feature" />
          <h4>KERAKATCHI</h4>
          <p>₹15,000</p>
          <button class="btn">ADD TO CART</button>
        </div>
        <div class="feature__card">
          <span>SALE</span>
          <img src="../public/images/assets/feature-3.png" alt="feature" />
          <h4>CITIZEN</h4>
          <p>₹19,999</p>
          <button class="btn">ADD TO CART</button>
        </div>
      </div>
    </section>

    <!-- collection -->

    
    <section class="section collection" id="product">
      <div class="container">
          <ul class="collection-list">
              <li>
                  <div class="collection-card" style="background-image: url('../public/images/assets/collection-1.jpg')">
                      <h3 class="h4 card-title">Men Collections</h3>
                      <a href="men.html" class="btn btn-secondary">
                          <span>Explore All</span>
                      </a>
                  </div>
              </li>
              <li>
                  <div class="collection-card" style="background-image: url('../public/images/assets/collection-2.jpg')">
                      <h3 class="h4 card-title">Women Collections</h3>
                      <a href="Women.html" class="btn btn-secondary">
                          <span>Explore All</span>
                      </a>
                  </div>
              </li>
              <li>
                  <div class="collection-card" style="background-image: url('../public/images/assets/collection-3.jpg')">
                      <h3 class="h4 card-title" >Smart Collections</h3>
                      <a href="smart.html" class="btn btn-secondary">
                          <span>Explore All</span>
                      </a>
                  </div>
              </li>
          </ul>
      </div>
  </section>

  <!-- end -->

    <secttion class="story">
      <div class="section__container story__container">
        <div class="story__image">
          <img src="../public/images/assets/story.png" alt="header" style="width: 600px; height: 470px;">

        </div>
        <div class="story__content">
          <h2 class="section__header">OUR STORY</h2>
          <h4>Best Selling Watch </h4>
          <p>
            Explore our best-selling watches, loved for their style and quality.<br>
            From classic designs to modern trends, these top picks offer the perfect blend of elegance and performance.<br>
          </p>
          <div class="story__btn">
            <button class="btn">ADD TO CART</button>
          </div>
        </div>
      </div>
    </secttion>

    <!-- delivery -->
    
    <section class="section service">
      <div class="container">
          <ul class="service-list">

              <li class="service-item">
                  <div class="service-card">
                      <div class="card-icon">
                          <img src="../public/images/assets/images/service-1.png" width="40" height="40" loading="lazy" alt="Service icon">
                      </div>
                      <div>
                          <h3 class="h4 card-title">Free Shipping</h3>
                          <p class="card-text">All orders over <span>$150</span></p>
                      </div>
                  </div>
              </li>

              <li class="service-item">
                  <div class="service-card">
                      <div class="card-icon">
                          <img src="../public/images/assets/images/service-2.png" width="40" height="40" loading="lazy" alt="Service icon">
                      </div>
                      <div>
                          <h3 class="h4 card-title">Quick Payment</h3>
                          <p class="card-text">100% secure payment</p>
                      </div>
                  </div>
              </li>

              <li class="service-item">
                  <div class="service-card">
                      <div class="card-icon">
                          <img src="../public/images/assets/images/service-3.png" width="40" height="40" loading="lazy" alt="Service icon">
                      </div>
                      <div>
                          <h3 class="h4 card-title">Free Returns</h3>
                          <p class="card-text">Money back in 30 days</p>
                      </div>
                  </div>
              </li>

              <li class="service-item">
                  <div class="service-card">
                      <div class="card-icon">
                          <img src="../public/images/assets/images/service-4.png" width="40" height="40" loading="lazy" alt="Service icon">
                      </div>
                      <div>
                          <h3 class="h4 card-title">24/7 Support</h3>
                          <p class="card-text">Get Quick Support</p>
                      </div>
                  </div>
              </li>

          </ul>
      </div>
  </section>

    <!-- footer -->

    
  <footer class="footer">
    <div class="footer-container">
       <div class="footer-row">
           <div class="footer-column company-column">
               <h4>Company</h4>
               <ul>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Our Services</a></li>
                   <li><a href="#">Privacy Policy</a></li>
                   <li><a href="#">Affiliate Program</a></li>
               </ul>
           </div>
           <div class="footer-column help-column">
               <h4>Get Help</h4>
               <ul>
                   <li><a href="#">FAQ</a></li>
                   <li><a href="#">Shipping</a></li>
                   <li><a href="#">Returns</a></li>
                   <li><a href="#">Order Status</a></li>
                   <li><a href="#">Payment Options</a></li>
               </ul>
           </div>
           <div class="footer-column shop-column">
               <h4>Online Shop</h4>
               <ul>
                   <li><a href="#">Watch</a></li>
                   <li><a href="#">Bag</a></li>
                   <li><a href="#">Shoes</a></li>
                   <li><a href="#">Dress</a></li>
               </ul>
           </div>
           <div class="footer-column social-column">
               <h4>Follow Us</h4>
               <div class="social-links">
                   <a href="#"><img src="../public/images/img/facebook.png" alt="Facebook"></a>
                   <a href="#"><img src="../public/images/img/twitter.png" alt="Twitter"></a>
                   <a href="#"><img src="../public/images/img/google.png" alt="Google"></a>
                   <a href="#"><img src="../public/images/img/link.png" alt="LinkedIn"></a>
               </div>
           </div>
       </div>
    </div>
 </footer>

</body>
</html>
